* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url(../img/bg-2.png);
  -webkit-tap-highlight-color: transparent;
}
body .view {
  font-family: "宋体";
  font-family: "仿宋";
  width: 100%;
  margin: 0 auto;
}
body .view .slide {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .view .c-bg1 hr {
  margin: 5rem 0 0rem 0;
}
body .view .c-bg1 .wrap {
  width: 280rem;
  padding: 5rem 0;
}
body .view .c-bg1 .wrap h2 {
  margin: 5rem 0;
  font-size: 7rem;
  font-weight: 900;
}
body .view .c-bg1 .wrap h2 span {
  color: #412c28;
  margin: 0 3rem;
}
body .view .c-bg1 .wrap .data {
  font-size: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-weight: 600;
}
body .view .c-bg1 .wrap .data .photo {
  width: 80rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20rem;
}
@keyframes loading8 {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.85);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes loading81 {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.15);
  }
  50% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
body .view .c-bg1 .wrap .data .photo .fang {
  position: relative;
}
body .view .c-bg1 .wrap .data .photo .fang .icon {
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
}
body .view .c-bg1 .wrap .data .photo .fang .icon p {
  border-radius: 50%;
}
body .view .c-bg1 .wrap .data .photo .fang .two {
  width: 26rem;
  height: 26rem;
  margin: -13rem 0 0 -13rem;
  border: 0.5rem solid #f200ff;
  animation: loading8 2.8s linear 0s infinite reverse;
}
body .view .c-bg1 .wrap .data .photo .fang .three {
  width: 23rem;
  height: 23rem;
  margin: -11.5rem 0 0 -11.5rem;
  border: 0.5rem solid #ff8400;
  animation: loading81 3.3s linear 0s infinite;
}
body .view .c-bg1 .wrap .data .photo .fang .four {
  width: 20rem;
  height: 20rem;
  margin: -9.25rem 0 0 -9.25rem;
  transition: all 1s;
  cursor: pointer;
}
body .view .c-bg1 .wrap .data .photo .fang .four img {
  width: 20rem;
  border-radius: 50%;
}
body .view .c-bg1 .wrap .data .photo .fang .four:hover {
  transform: rotate(360deg);
}
body .view .c-bg1 .wrap .data .photo h2 {
  margin-top: 15rem;
  font-size: 7rem;
  font-weight: 900;
  color: tomato;
}
body .view .c-bg1 .wrap .data .data1 {
  width: 127rem;
}
body .view .c-bg1 .wrap .data .data1 p {
  margin: 5rem 0;
  display: flex;
  flex-wrap: nowrap;
}
body .view .c-bg1 .wrap .data .data2 {
  width: 137rem;
}
body .view .c-bg1 .wrap .data .data2 p {
  display: flex;
  flex-wrap: nowrap;
  font-size: 5rem;
  margin: 5rem 0;
}
body .view .c-bg1 .wrap .data .data2 p a:hover {
  color: tomato;
}
body .view .c-bg2 hr {
  margin: 5rem 0 0rem 0;
}
body .view .c-bg2 .wrap {
  width: 280rem;
  overflow: hidden;
}
body .view .c-bg2 .wrap h2 {
  margin: 5rem 0;
  font-size: 7rem;
  font-weight: 900;
}
body .view .c-bg2 .wrap h2 span {
  color: #412c28;
  margin: 0 3rem;
}
body .view .c-bg2 .wrap .data {
  width: 280rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  overflow: hidden;
  padding: 5rem 0;
}
body .view .c-bg2 .wrap .data .study {
  width: 40rem;
  margin: 0 2rem;
  float: left;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 4rem;
  font-weight: bold;
}
body .view .c-bg2 .wrap .data .study .rund {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 3px 5px 0 #373737;
  margin-bottom: 5rem;
}
body .view .c-bg2 .wrap .data .study .rund .fa {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  transition: all 0.5s;
  cursor: pointer;
}
body .view .c-bg2 .wrap .data .study .rund .fa:hover {
  transform: rotate(360deg);
}
body .view .c-bg2 .wrap .data .study .rund .fa-html {
  background-image: url(../img/html-icon.png);
}
body .view .c-bg2 .wrap .data .study .rund .fa-js {
  background-image: url(../img/js-icon.png);
}
body .view .c-bg2 .wrap .data .study .rund .fa-jquery {
  background-image: url(../img/jquery-icon.png);
}
body .view .c-bg2 .wrap .data .study .rund .fa-CSS3 {
  background-image: url(../img/css3-icon.png);
}
body .view .c-bg2 .wrap .data .study .rund .fa-BootStrap {
  background-image: url(../img/BootStrap-icon.png);
}
body .view .c-bg2 .wrap .data .study .rund .fa-Vue {
  background-image: url(../img/Vue-icon.png);
}
body .view .c-bg3 .list {
  width: 280rem;
  padding: 5rem 0 10rem 0;
}
body .view .c-bg3 .list h2 {
  margin: 5rem 0 0rem 0;
  font-size: 7rem;
  font-weight: 900;
}
body .view .c-bg3 .list h2 span {
  color: #412c28;
  margin: 0 3rem;
}
body .view .c-bg3 .list p {
  font-size: 5rem;
  font-weight: bolder;
  margin: 5rem 0 0rem 11rem;
}
body .view .c-bg3 .list .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
body .view .c-bg3 .list .cards a {
  margin: 6rem 20rem 0 20rem;
  border-radius: 10px;
  transition: all 0.5s;
  text-align: center;
}
body .view .c-bg3 .list .cards a .card {
  width: 90rem;
  height: 55rem;
  border-radius: 5px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0rem 0rem 5rem #d4d4d4;
}
body .view .c-bg3 .list .cards a .title {
  margin: 3rem 0;
  font-size: 4rem;
  font-weight: bold;
  color: aliceblue;
  color: darkcyan;
}
body .view .c-bg3 .list .cards a:hover {
  transform: scale(1.1);
}
body .view .c-bg3 .list hr {
  opacity: 0;
}
body .view .c-bg3 .list .cards-Vue .card1 {
  background-image: url(../img/mogu.png);
}
body .view .c-bg3 .list .cards-Vue .card2 {
  background-image: url(../img/LAWFUL.png);
}
body .view .c-bg3 .list .cards1 .card1 {
  background-image: url(../img/taobao.png);
}
body .view .c-bg3 .list .cards1 .card2 {
  background-image: url(../img/LAWFUL.png);
}
body .view .c-bg3 .list .cards1 .card3 {
  background-image: url(../img/Dress-up.png);
}
body .view .c-bg3 .list .cards1 .card4 {
  background-image: url(../img/王者荣耀.png);
}
body .view .c-bg3 .list .cards1 .card5 {
  background-image: url(../img/360.png);
}
body .view .c-bg3 .list .cards1 .card6 {
  background-image: url(../img/kiddy.png);
}
body .view .c-bg3 .list .cards2 .card1 {
  background-image: url(../img/time.png);
}
body .view .c-bg3 .list .cards2 .card2 {
  background-image: url(../img/踩块块.png);
}
body .view .c-bg3 .list .cards2 .card3 {
  background-image: url(../img/放大镜.png);
}
body .view .c-bg3 .list .cards2 .card4 {
  background-image: url(../img/手风琴.png);
}
body .view .c-bg3 .list .cards2 .card5 {
  background-image: url(../img/double.png);
}
body .view .c-bg3 .list .cards2 .card6 {
  background-image: url(../img/打地鼠.png);
}
body .view .c-bg3 .list .cards2 .card7 {
  background-image: url(../img/九宫格抽奖.png);
}
body .view .c-bg3 .list .cards2 .card8 {
  background-image: url(../img/记忆卡片.png);
}
body .view .c-bg3 .list .cards3 .card1 {
  background-image: url(../img/海绵宝宝.png);
}
body .view .c-bg3 .list .cards3 .card2 {
  background-image: url(../img/三级联动.png);
}
body .view .c-bg3 .list .cards4 .card1 {
  background-image: url(../img/AESTHETIC.png);
}
body .view .c-bg3 .list .cards4 .card2 {
  background-image: url(../img/GASLUR.png);
}
body .view .c-bg3 .list .cards5 .card1 {
  background-image: url(../img/3d立方体1.png);
}
body .view .c-bg3 .list .cards5 .card2 {
  background-image: url(../img/3d_horner.png);
}
body .view .c-bg3 .list .cards5 .card3 {
  background-image: url(../img/css-2d.png);
}
body .view .c-bg3 .list .cards5 .card4 {
  background-image: url(../img/文字渐变.png);
}
body .view .c-bg3 .list .cards6 .card1 {
  background-image: url(../img/music1.png);
}
body .view .c-bg3 .list .cards6 .card2 {
  background-image: url(../img/九宫格.png);
}
body .view .c-bg4 {
  padding: 5rem 0;
  background: #474747;
}
body .view .c-bg4 p {
  font-size: 4rem;
  color: #fff;
  margin-left: -30rem;
}
/*# sourceMappingURL=./index.css.map */