body .header .wrap {
  width: 1250px;
  height: 40px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .header .wrap .logo {
  width: 200px;
  height: 100%;
  background-image: url(../img/1/logo.png);
  background-repeat: no-repeat;
  background-position: center;
}
body .header .wrap .menu {
  width: 200px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
}
body .header .wrap .menu span a {
  font-size: larger;
  font-weight: bolder;
  color: gray;
  text-decoration: none;
}
body .swiper-wrapper .c-bg1 .box {
  width: 100%;
  height: 100%;
  background-image: url(../img/1/caidong.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
body .swiper-wrapper .c-bg1 .box .center {
  width: 1000px;
  height: 50%;
  padding-bottom: 210px;
  position: relative;
  margin-top: 150px;
}
body .swiper-wrapper .c-bg1 .box .center h2 {
  font-size: 70px;
  font-weight: 500;
  margin: 0;
}
body .swiper-wrapper .c-bg1 .box .center h4 {
  font-size: 21px;
  font-weight: 500;
  margin: 10px;
  color: #d1d3d3;
}
body .swiper-wrapper .c-bg1 .box .center .load {
  margin: 0 auto;
  width: 430px;
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;
  cursor: pointer;
}
body .swiper-wrapper .c-bg1 .box .center .load .loadown {
  width: 190px;
  height: 60px;
  border-radius: 50px;
  border: 1px solid #fff;
}
body .swiper-wrapper .c-bg1 .box .center .load .old32 {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
body .swiper-wrapper .c-bg1 .box .center .load .new64 {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  position: relative;
}
body .swiper-wrapper .c-bg1 .box .center .load .new64 img {
  width: 20px;
  height: 20px;
  margin-right: 7px;
}
body .swiper-wrapper .c-bg1 .box .center .load .new64 .new {
  position: absolute;
  top: -10px;
  right: 0;
  background-image: linear-gradient(#ff6262, #ff3535);
  color: #fff;
  border-radius: 10px 0;
  font-size: 12px;
  padding: 5px;
}
@keyframes qiu1 {
  0% {
    top: 0px;
  }
  100% {
    top: 30px;
  }
}
@keyframes qiu2 {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: -85px;
  }
}
body .swiper-wrapper .c-bg1 .box .center .qiu1 {
  animation: qiu1 3s linear 0.5s infinite alternate;
  width: 180px;
  height: 180px;
  background-image: url(../img/1/xinqius.png);
  background-position: center;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
}
body .swiper-wrapper .c-bg1 .box .center .qiu2 {
  animation: qiu2 3.3s linear 0.5s infinite alternate;
  width: 330px;
  height: 330px;
  background-image: url(../img/1/xingqui.png);
  background-size: cover;
  position: absolute;
  bottom: -100px;
  right: -50px;
}
body .swiper-wrapper .c-bg1 .box .center .qiu3 {
  width: 100px;
  height: 100px;
  background-image: url(../img/1/feichuan.png);
  background-position: center;
  background-size: cover;
  position: absolute;
  bottom: 170px;
  right: 200px;
}
body .swiper-wrapper .c-bg2 {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
body .swiper-wrapper .c-bg2 .box {
  width: 500px;
  position: absolute;
  top: 200px;
  left: 350px;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
body .swiper-wrapper .c-bg2 .box h2 {
  font-size: 65px;
  font-weight: 500;
  margin: 10px 0;
}
body .swiper-wrapper .c-bg2 .box .line {
  width: 40px;
  height: 5px;
  background: gray;
}
body .swiper-wrapper .c-bg2 .box h3 {
  font-size: 40px;
  font-weight: 500;
  margin: 10px 0;
}
body .swiper-wrapper .c-bg2 .box p {
  margin: 0;
}
body .swiper-wrapper .c-bg2 .box .img {
  width: 200px;
  height: 50px;
  background-image: url(../img/1/test.png);
  background-position: left;
  background-repeat: no-repeat;
  border-radius: 50px;
  margin: 50px 0;
  position: relative;
  cursor: pointer;
}
body .swiper-wrapper .c-bg2 .box .img .mask {
  width: 100%;
  height: 100%;
  background: rgba(128, 128, 128, 0.22);
  position: absolute;
  border-radius: 50px;
  display: none;
}
body .swiper-wrapper .c-bg2 .box .img:hover .mask {
  display: block;
}
body .swiper-wrapper .c-bg3 {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
body .swiper-wrapper .c-bg3 .box {
  width: 500px;
  position: absolute;
  top: 200px;
  left: 350px;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
body .swiper-wrapper .c-bg3 .box h2 {
  font-size: 65px;
  font-weight: 500;
  margin: 10px 0;
}
body .swiper-wrapper .c-bg3 .box .line {
  width: 40px;
  height: 5px;
  background: gray;
}
body .swiper-wrapper .c-bg3 .box h3 {
  font-size: 40px;
  font-weight: 500;
  margin: 10px 0;
}
body .swiper-wrapper .c-bg3 .box p {
  margin: 0;
}
body .swiper-wrapper .c-bg3 .box .img {
  width: 200px;
  height: 50px;
  background-image: url(../img/1/test.png);
  background-position: left;
  background-repeat: no-repeat;
  border-radius: 50px;
  margin: 50px 0;
  position: relative;
  cursor: pointer;
}
body .swiper-wrapper .c-bg3 .box .img .mask {
  width: 100%;
  height: 100%;
  background: rgba(128, 128, 128, 0.22);
  position: absolute;
  border-radius: 50px;
  display: none;
}
body .swiper-wrapper .c-bg3 .box .img:hover .mask {
  display: block;
}
body .swiper-wrapper .c-bg4 {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
body .swiper-wrapper .c-bg4 .box {
  width: 500px;
  position: absolute;
  top: 200px;
  left: 350px;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
body .swiper-wrapper .c-bg4 .box h2 {
  font-size: 65px;
  font-weight: 500;
  margin: 10px 0;
}
body .swiper-wrapper .c-bg4 .box .line {
  width: 40px;
  height: 5px;
  background: gray;
}
body .swiper-wrapper .c-bg4 .box h3 {
  font-size: 40px;
  font-weight: 500;
  margin: 10px 0;
}
body .swiper-wrapper .c-bg4 .box p {
  margin: 0;
}
body .swiper-wrapper .c-bg4 .box .img {
  width: 200px;
  height: 50px;
  background-image: url(../img/1/test.png);
  background-position: left;
  background-repeat: no-repeat;
  border-radius: 50px;
  margin: 50px 0;
  position: relative;
  cursor: pointer;
}
body .swiper-wrapper .c-bg4 .box .img .mask {
  width: 100%;
  height: 100%;
  background: rgba(128, 128, 128, 0.22);
  position: absolute;
  border-radius: 50px;
  display: none;
}
body .swiper-wrapper .c-bg4 .box .img:hover .mask {
  display: block;
}
body .swiper-wrapper .c-bg5 {
  position: relative;
  overflow: hidden;
}
body .swiper-wrapper .c-bg5 .box {
  width: 500px;
  position: absolute;
  top: 200px;
  left: 350px;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
body .swiper-wrapper .c-bg5 .box h2 {
  font-size: 65px;
  font-weight: 500;
  margin: 10px 0;
}
body .swiper-wrapper .c-bg5 .box .line {
  width: 40px;
  height: 5px;
  background: gray;
}
body .swiper-wrapper .c-bg5 .box h3 {
  font-size: 40px;
  font-weight: 500;
  margin: 10px 0;
}
body .swiper-wrapper .c-bg5 .box p {
  margin: 0;
}
body .swiper-wrapper .c-bg5 .box .img {
  width: 200px;
  height: 50px;
  background-image: url(../img/1/test.png);
  background-position: left;
  background-repeat: no-repeat;
  border-radius: 50px;
  margin: 50px 0;
  position: relative;
  cursor: pointer;
}
body .swiper-wrapper .c-bg5 .box .img .mask {
  width: 100%;
  height: 100%;
  background: rgba(128, 128, 128, 0.22);
  position: absolute;
  border-radius: 50px;
  display: none;
}
body .swiper-wrapper .c-bg5 .box .img:hover .mask {
  display: block;
}
body .swiper-wrapper .c-bg5 .Copy {
  width: 100%;
  height: 130px;
  padding: 10px 0;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #131416;
  font-size: 12px;
  color: #4a4a4a;
}
body .swiper-wrapper .c-bg5 .Copy a {
  font-size: 12px;
  color: #4a4a4a;
  text-decoration: none;
}
body .swiper-wrapper .c-bg5 .Copy a img {
  width: 20px;
  height: 20px;
}
body .swiper-wrapper .c-bg5 .Copy .lo {
  margin: 5px 0;
}
body .swiper-wrapper .c-bg5 .Copy .lo a {
  display: flex;
  justify-content: center;
  align-items: center;
}
body .swiper-wrapper .c-bg5 .Copy .lo a img {
  width: 20px;
  height: 20px;
  margin: 0 2px;
}
/*# sourceMappingURL=./360-xs.css.map */